includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    # A.14: Maximum static analysis level
    level: 8
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    ignoreErrors: []
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
